/*Google fontsnimport */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 

/*Asterisk wildcard selector to override default styles added by the browser */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}

/*Gernal styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project style */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/*headerr*/
header {
    background-color: #ffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: indianred;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #252525;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none; /*move dot*/
}
#menu > li {
    margin-bottom: 1em;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar style with dropdown toggle */
nav {
    position: absolute; /*move nav out the header*/
    background-color: #ffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;  
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;  /* make menu under the logo*/
}
/*Nav toogle */
#nav-toggle:checked~nav {  /*make dropdown menu*/
    display: block;
}

#nav-toggle {
    display: none;

}

.nav-toggle-label {
   font-size: 2rem;
}

/*main*/
main {
    background-color: lightblue;
    /*Make main element take up any surplus space to puch footer down*/
    flex: 1 0 auto;
    margin-top: 47px;  /*push conten down to appear under fixed header */
}

/*footer*/
footer {
    background-color: orange;
}

/* Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
    /* header*/
    nav {
        display:block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }
    
    #menu> li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
}